@font-face {
  font-family: banglafont;
  src: url("/font/bangla.ttf");
}

body {
  margin: 0;
  background-color: rgb(207, 207, 207);
  background-image: url("/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
}

.nav {
  justify-content: space-evenly;
  display: flex;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #9EB0D7C9;
  position: sticky;
  backdrop-filter: grayscale(100%);

}

.title {
  font-family: banglafont;
  font-size: 27px;
  animation: nahid 1s infinite;
}

@keyframes nahid {
  50% {
    color: red;
  }

  100% {
    color: green;
  }
}


.userbox {
  margin-top: 10px;
  margin-inline: 10px;
  height: auto;
  background-color: #EFEFEF;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 black;
}

.userbox img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.userbox p {
  padding-bottom: 30px;
  margin: 8px;
}

.icon-box {
  height: 50px;
  width: 50px;
  padding: 8px;

}

.nav i {
  font-size: 30px;
  color: #2E2E31;
  cursor: pointer;
}

.nav i:active {
  color: #4680ff;
}

.nav .active {
  color: #4680ff; 
}